* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/******************
BODY
******************/

body {
  background-color: tomato;

}

/******************
HEADER
******************/

header {
  background-color: darkgrey;
  height: 200px;
  width: 100%;
}

h1 {
  margin: 0;
  padding-left: 10%;
  padding-top: 40px;
}

nav {
  float: right;
  padding-right: 12%;
  position: relative;
  top: -1em;
}

nav li {
  display: inline-block;
  }

/******************
SECTION
******************/

section {
  background-color: white;
  height: 600px;
  margin: -100px auto 100px;
  width: 80%;
}


.video img {
  margin: 50px auto;
}




.kittens {
  float: left;
  width: 30%;

}


.kittens:first-child {
  margin-left: 0;
}


.secondary-content {
  padding: 0 10%;
}
